img {
    display: block;
    margin: 0 0 1rem;
    border-radius: 5px;
    max-width: 100%;
}

.logo {
    max-width: 60%;
    margin-left: 20%;
    margin-top: 10%;
}

.side-nav a {
    color: #fff;
}